extends layouts/main

block content
    .form_container
        form(action="/login", method="post")
            input(type="email", name="email", placeholder="Email")
            input(type="Password", name="Password", placeholder="Password")
            input(type="submit", value="Log In")
        include partials/socialLogin